[submodule "games/Albion/SR-Main/resources"]
	path = games/Albion/SR-Main/resources
	url = https://github.com/IS4Code/Albion-resources.git
[submodule "midi-plugins/libADLMIDI"]
	path = midi-plugins/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
[submodule "midi-plugins/fluidsynth"]
	path = midi-plugins/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
